@charset "utf-8";
/* reset */
html, body, h1, p, span, form, input {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
}

input {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #0747a6;

    width: 100vw;
    height: 100vh;
}

/* login form */
.login {
    background: #fff;

    width: 50%;
    max-width: 500px;
    min-width: 280px;

    padding: 8%;
}
.login-heading {
    margin-bottom: 24px;
    padding: 24px 0;

    text-align: center;

    border-bottom: 1px solid #333;
}
.login-heading-title {
    line-height: 1.6;
}

.login-input-area {
    margin: 16px 0;
    border-bottom: 1px dotted #ccc;
}
.login-input {
    display: block;

    width: 100%;

    padding: 12px;

    font-size: 16px;

    box-sizing: border-box;
}
.login-input:focus {
    outline: none;
}
.login-input-title {
    margin-bottom: 8px;
}
.login-input-require::after {
    content: '*';
    color: #f00;
}

/* warning */
.warning-text {
    margin: 8px 0;

    color: #f00;
    font-size: 14px;
}

/* submit */
.login-submit {
    display: block;
    background: #0077ff;
    
    width: 120px;
    line-height: 34px;

    margin: 24px auto 0;

    text-align: center;
    color: #fff;
    font-size: 14px;

    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);

    transition: .2s;
    cursor: pointer;
}
.login-submit:hover {
    background: #0747a6;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.login-submit:disabled {
    opacity: .4;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    pointer-events: none;
}